@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import "reset.css";
@import "variables.css";

/* components */
@import "components/menu-bar.css";

/* screens */
@import "screens/login-bar.css";
@import "screens/main-login.css";
@import "screens/models.css";

body {
  font-family: "Gotham Medium", "FB New Gothic", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
