.models-screen {
  background-image: url(../../images/models.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.model3-screen {
  background-image: url(../../images/model3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 35%;
}

.modelx-screen {
  background-image: url(../../images/modelx.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 40%;
}

.modely-screen {
  background-image: url(../../images/modely.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
}

.cyber-screen {
  background-image: url(../../images/cyber.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
}
