.cyber__menu-bar a {
    color: var(--black);
}

.cyber__menu-bar a:not(.icon):hover {
    color: var(--cyber-gray);
}

.cyber--menu-bar__cars a:focus,
.cyber--menu-bar__others a:not(.icon):focus {
  border: 1px dotted var(--cyber-gray);
  transition: all 0.1s ease-in-out;
}

.cyber--menu-bar__cars a:focus:hover,
.cyber--menu-bar__others a:not(.icon):focus:hover {
  color: var(--cyber-gray);
  border: 1px dotted var(--cyber-gray);
}

.cyber-information {
  margin-top: 90px;
}

.cyber-information__name {
  margin-bottom: 27.5%;
}

.cyber-information__name span:first-child {
  font-size: 85px;
  opacity: 0.8;
}

.cyber-information__many {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cyber-information__many--column span:first-child { 
  color: var(--cyber-white);
  font-size: 15px;
  font-weight: 550;
  letter-spacing: 1.5px;
  margin-bottom: 50px;
}

.cyber-information__many--column:last-child {
  background-color: var(--white);
  background: linear-gradient(315deg, transparent 10px, var(--white) 0);
  padding: 4px;
}


.cyber-information__many--column button {
  padding: 9px 60px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  font-size: 12px;
  font-weight: 550;
  text-align: center;
  cursor: pointer;
  transition: all ease-in-out;
}

.cyber-information__many--column button:hover {
  background-color: var(--white);
  color: var(--black);
}

