.login-screen {
  position: relative;
}

.login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 600px;
}

.login-form,
.seperated-login-form {
  width: 330px;
}

.login-form__title {
  font-size: 37px;
  height: 30px;
  margin-bottom: 40px;
}

.login-information {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.login-information__email i {
  margin-left: 2px;
}

.login-information__email,
.login-form span:nth-child(3) {
  margin-left: 15px;
  margin-bottom: 10px;
  color: var(--gray);
  font-size: 15px;
}

.login-form input {
  padding: 8px;
}

.login-form button,
.seperated-login-form button {
  padding: 10px;
}

.login-information input {
  background-color: #f4f4f4;
  width: 322px;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius: 50px;
  border: 1.5px solid var(--invisable);
  outline: none;
  transition: border 0.4s ease-in-out;
}

.login-information input:focus {
  border: 1.5px solid rgba(0, 0, 0, 0.2);
}

.login-form button,
.seperated-login-form button {
  width: 100%;
}

.login-information button {
  background-color: #3e6ae1;
  border-radius: 50px;
  margin-bottom: 10px;
  color: var(--white);
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-information button:hover {
  background-color: #3457b1;
}

.seperated-login-form button {
  background-color: var(--white);
  color: var(--black);
  border: 3px solid var(--black);
  border-radius: 50px;
  margin-bottom: 100px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.seperated-login-form button:hover {
  background-color: var(--black);
  color: var(--white);
}

.missed-information {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-bar {
  background-color: var(--gray);
  width: 1px;
  height: 10px;
  margin: 0px 10px;
}

.missed-information a {
  color: var(--gray);
  text-decoration-color: var(--gray);
  border-bottom: 2px solid var(--invisable);
  font-size: 13px;
  transition: border-bottom 0.5s ease-in-out;
}

.missed-information a:hover {
  border-bottom: 2px solid var(--black);
}

.long-bar {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  width: 100%;
  margin: 60px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.long-bar span {
  display: block;
  padding: 0px 10px;
  background-color: var(--white);
  color: var(--gray);
}

.more-information__column {
  display: flex;
  justify-content: center;
}

.more-information a {
  text-decoration: none;
  border-bottom: 2px solid var(--invisable);
  color: var(--gray);
  font-size: 13px;
  transition: all 0.5s ease-in-out;
}

.more-information a:hover {
  font-weight: 600;
  border-bottom: 2px solid var(--black);
}

.more-information a:nth-child(2) {
  margin: 0px 15px;
}
