.models-screen {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/32e5e0f3-5c04-42ef-8f8f-c6b1c26f8a9e/bvlatuR/std/2000x1000/ms-main-hero-desktop);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
