.modely-information__many {
  margin-top: 10px;
}

.modely__under-arrow {
  margin-top: 5px;
}

.modely-information__many--column:first-child span:first-child,
.modely-information__many--column:nth-child(2) span:first-child {
  font-size: 28px;
}

.modely-information__many--column:nth-child(3) {
  margin-left: 30px;
  opacity: 0;
  animation: AnimationforY  0.25s ease-in-out forwards;
  animation-delay: 0.3s;
}

@keyframes AnimationforY {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    color: var(--white);
  }
}
