.menu-bar {
  display: flex;
  justify-content: center;
  padding: 17px 10px 15px 20px;
}

.menu-bar__logo,
.menu-bar__others {
  width: 30%;
}

.menu-bar__cars {
  width: 40%;
}

.menu-bar__cars {
  display: flex;
  justify-content: center;
}

.menu-bar__others {
  display: flex;
  justify-content: flex-end;
}

.model__tesla-icon {
  block-size: 10px;
}

.menu-bar a {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.menu-bar__cars a {
  margin-right: 20px;
}

.menu-bar__others a:nth-child(2) {
  margin: 0px 15px;
}
