.model-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 28px;
}

.model-information__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50%;
}

.model-information__name span:nth-child(1) {
  font-size: 43px;
  font-weight: 600;
  margin-bottom: 10px;
}

.model-information__name span:nth-child(2) {
  font-size: 17px;
  opacity: 0.9;
}

.model-information__many {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.model-information__many--column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px;
}

.model-information__many--column {
  color: var(--white);
}

.model-information__many--column span:first-child {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.model-information__many--column span:last-child {
  font-size: 12px;
}

.model-information__many--column button {
  padding: 9px 33px;
  border: 3px solid var(--white);
  border-radius: 50px;
  outline: none;
  background-color: transparent;
  color: var(--white);
  font-size: 12px;
  font-weight: 550;
  text-align: center;
  cursor: pointer;
  transition: all ease-in-out;
}

.model-information__many--column button:hover {
  background-color: var(--white);
  color: var(--black);
}

.model-information__test {
  color: var(--white);
  font-size: 12px;
}

.under-arrow {
  margin-top: 15px;
  color: var(--white);
  font-weight: 100;
  animation: dancingarrow 2s ease-in-out infinite;
}

@keyframes dancingarrow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(5px);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
